
 <form action="/campgrounds/<%= camp_idi %>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <input type="text" name="comment[text]" value="<%= comment.text %>" style=" width: 30%; height: 5%;">
    <button style=" width: 5%; height: 5%;">Comment</button>
</form>