<%- include ('partials/header') %>
<%- include ('partials/nav') %>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheet/home.css">
  <title>
    hossii
  </title>
</head>





<!--<section>
  <header>
    <a href="#" class="logo"><img src="https://images.unsplash.com/photo-1522139137660-4248e04955b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
      style="width: 7%; height: 60%;"></a>
      <a class="toggle">&#9886;</a>
      <ul class="tul">
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
      </ul>
  </header>
</section> -->





<!--hamburger-->


<div class="bg">
  <!--div class="navbar">
      <header >
          <div class="wrapper">
           <nav>
                
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="/login" id="lat">login</a>
            <a href="/register" class="btn btn-primary btn-xs" id="lat">Sign in</a>
                
            </nav>
          </div>
    </header>
  </div-->
    <div class="container">
        <!--<div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
        </div>
          
          <div class="container" id="main">
          
           <span id="1" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9886; </span>
           <span id="logo" >&#9992;</span>
           <div class="social ml-5">
              <div class="d-flex flex-row justify-content-center">
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-youtube"></i>
              </div>
          </div>-->
          <div class="centered">
            <h1>Welcome to Hossii </h1>
            <p><small>All in one, it´s more than one!</small></p>
          </div>
           <!--&#9776;--> <!-- Allow the young's vision guide you!-->

    </div>
  
  <!--fim hamburger-->
  <div class="text-center toDown" ><a href="#more"><h3>▼</h3></a></div>
  
</div>


  <div class="section1 m-3 p-4">
    <p class="text-center" id="more"><strong >As always be young, come to live wonderful experiences, That mindset will guide you!</strong></p>
    <h3 class="text-center mb-3">What you've been looking for, all in one place. Just click and be Happy</h3>
    <p class="text-center"  ></p>
    </div>


  <!--main cards-->

  
  <!--first card-->
  <div class="container ">
    <h3 class="title h1 text-center"><span class="bottomLine">Blogs</span></h3>
    <!-- Card Start -->
    <div class="card">
      <div class="row ">
        
        <!-- Carousel start -->
        <div class="col-md-6  col-12">
          <div id="CarouselTest" class="carousel slide" data-ride="carousel">
            <!--ol class="carousel-indicators">
              <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselTest" data-slide-to="1"></li>
              <li data-target="#CarouselTest" data-slide-to="2"></li>
              
            </ol-->
            <a href="/posts">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="https://images.unsplash.com/photo-1533158307587-828f0a76ef46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <div class="carousel-item ">
                <img class="d-block" src="https://images.unsplash.com/photo-1533525801715-1f3764669187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1037&q=80" alt="">
              </div>
              
              <div class="carousel-item">
                <img class="d-block" src="https://images.unsplash.com/photo-1466386460451-cbc548bf581b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <!--a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
              <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a-->
            </div>
            </a>
          </div>
        </div>
        <!-- End of carousel -->
        <div class="col-md-6 col-12">
            <a href="/posts">
          <div class="card-block ">
            
            <p class="card-text mt-2">
              <strong>Write your own Blog, share your experience with us!</strong><br>
              Read what other around the world are saying, show your thoughts to the world using the power of writing. 
               Share pieces of your life here.
              <span class="btn btn-primary btn-lg text-center wrapper" ><small>Start this jornel</small></span>
            </span>
            <!--p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p-->
          </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End of card -->
  
  </div>
  <!--end of first card-->

  <!--three card-->
  <div class="container ">
    <h3 class="title h1 text-center"><span class="bottomLine">Yournews</span></h3>
    <!-- Card Start -->
    <div class="card">
      <div class="row ">
        <div class="col-md-6 col-12">
            <a href="/yournews">
          <div class="card-block ">
            
            <p class="card-text mt-2">
              <strong>Every single day we make sure that you have access to all information that is controling the world!</strong> <br>
              from politic to sport news, our plataform helps you to be inside every metter on time and in the best way. 
              Be ahead of time.
              <span class="btn btn-primary btn-lg text-center wrapper" ><small>Give a view!</small></span>
            </p>
            <!--p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p-->
          </div>
          </a>
        </div>
        <!-- Carousel start -->
        <div class="col-md-6  col-12">
          <div id="CarouselTest" class="carousel slide" data-ride="carousel">
            <!--ol class="carousel-indicators">
              <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselTest" data-slide-to="1"></li>
              <li data-target="#CarouselTest" data-slide-to="2"></li>
              
            </ol-->
            <a href="/yournews">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="https://images.unsplash.com/photo-1485056981035-7a565c03c6aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <div class="carousel-item ">
                <img class="d-block" src="https://images.unsplash.com/photo-1509044851713-f3f27a61968d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              
              <div class="carousel-item">
                <img class="d-block" src="https://images.unsplash.com/photo-1529243856184-fd5465488984?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
              </div>
              <!--a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
              <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a-->
            </div>
            </a>
          </div>
        </div>
        <!-- End of carousel -->
      </div>
    </div>
    <!-- End of card -->
  
  </div>
  <!--end of three card-->


  <!--second card-->
  <div class="container mb-5">
    <h3 class="title h1 text-center"><span class="bottomLine">Activities</span></h3>
    <!-- Card Start -->
    <div class="card">
      <div class="row ">
        <!-- Carousel start -->
        <div class="col-md-6  col-12">
            <div id="CarouselTest" class="carousel slide" data-ride="carousel">
              <!--ol class="carousel-indicators">
                <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
                <li data-target="#CarouselTest" data-slide-to="1"></li>
                <li data-target="#CarouselTest" data-slide-to="2"></li>
                
              </ol-->
              <a href="/activities">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="">
                </div>
                <div class="carousel-item ">
                  <img class="d-block" src="https://images.unsplash.com/photo-1444210971048-6130cf0c46cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                </div>
                
                <div class="carousel-item">
                  <img class="d-block" src="https://images.unsplash.com/uploads/1411160110892ab555b6f/80b0d25e?ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="">
                </div>
                <!--a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
                <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a-->
              </div>
              </a>
            </div>
          </div>
          <!-- End of carousel -->
        <div class="col-md-6 col-12">
            <a href="/activities">
          <div class="card-block ">
            
            <p class="card-text mt-2">
              <strong>Every kind of outdoor activity you find here!</strong><br>
              Share  your own activities, allow others to be within the events.<br>
              help other to join and enjoy moments that you are in.
              See what is going on around you, everything here.
              <span class="btn btn-primary btn-lg text-center wrapper" ><small>Check in!</small></span>
            </p>
            <!--p class="card-text">Made for usage, commonly searched for. Fork, like and use it. Just move the carousel div above the col containing the text for left alignment of images</p-->
          </div>
          </a>
        </div>
      </div>
    </div>
    <!-- End of card -->
  
  </div>
  <!--end of second card-->
  <!--end of main cards-->

</div>
<div class="container-fluid"><a href="/letssee">Our popularity</a></div>



<!--my css#######################################################################################-->
<style>
  div#textEditor{
    margin: 0 auto;
    width: 750px;
    height: 300px;
    margin-bottom: 20px;
  }

  div#theRibbon{
    border-bottom:none;
    padding: 10px;
    background-color: rgb(40, 110, 89);
    color:white;
    border-radius: 8px 8px 0px 0px;
  }
  div#richTextArea{
    border: 2px solid rgb(40, 110, 89);
    height: 100%;
    width: 750px;
  }
  iframe#theWYSIWYG{
    height: 100%;
    width:100%;
  }
  div#theRibbon >button {
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    cursor:pointer;
  }
  div#theRibbon >button:hover{
    background-color: rgb(20, 90, 70);
    transition: all o.3s linear 0s;
  }
  input[type="color"]{
    border: none;
    outline: none;
    background-color: transparent;
  }
</style>

<!--my javascript#######################################################################################-->
<script>
  window.addEventListener("load", function(){
    var editor = theWYSIWYG.document;
    editor.designMode= "on";

    boldButton.addEventListener('click', function(){
      editor.execCommand("Bold", false, null);
    }, false);

    italicButton.addEventListener('click', function(){
      editor.execCommand("Italic", false, null);
    }, false);

    supButton.addEventListener('click', function(){
      editor.execCommand("Superscript", false, null);
    }, false);

    subButton.addEventListener('click', function(){
      editor.execCommand("Subscript", false, null);
    }, false);

    strikeButton.addEventListener('click', function(){
      editor.execCommand("Strikethrough", false, null);
    }, false);

    orderedListButton.addEventListener('click', function(){
      editor.execCommand("InsertOrderedList", false, "newOL"+ Math.round(Math.random()*1000));
    }, false);

    unorderedListButton.addEventListener('click', function(){
      editor.execCommand("InsertUnorderedList", false, "newOL"+ Math.round(Math.random()*1000));
    }, false);

    fontColorButton.addEventListener("change", function(event){
      editor.execCommand("ForeColor", false, event.target.value);
    }, false);

    highlightButton.addEventListener("change", function(event){
      editor.execCommand("BackColor", false, event.target.value);
    }, false);

    fontChanger.addEventListener("change", function(event){
      editor.execCommand("fontName", false, event.target.value);
    }, false);

    fontSizeChanger.addEventListener("change", function(event){
      editor.execCommand("fontSize", false, event.target.value);
    }, false);

    linkButton.addEventListener("click", function(){
      var url= prompt("enter an url", "http://")
      editor.execCommand("createLink", false, url);
    }, false);

    unlinkButton.addEventListener('click', function(){
      editor.execCommand("Unlink", false, null);
    }, false);

    undoButton.addEventListener('click', function(){
      editor.execCommand("undo", false, null);
    }, false);

    redoButton.addEventListener('click', function(){
      editor.execCommand("redo", false, null);
    }, false);


  }, false)
</script>

<!--my code comes here-->

<div id="textEditor" >
  <div id="theRibbon">
    <button id="boldButton" title="Bold"><b>B</b></button>
    <button id="italicButton" title="Italic"><em>I</em></button>
    <button id="supButton" title="Superscript">X<sup>2</sup></button>
    <button id="subButton" title="Subscript">X<sub>2</sub></button>
    <button id="strikeButton" title="Strikethrough"><s>abc</s></button>
    <button id="orderedListButton" title="Numbered list">(i)</button>
    <button id="unorderedListButton" title="bulleted list">&bull;</button>
    <input type="color" id="fontColorButton" title="change font color">
    <input type="color" id="highlightButton" title="Highlight Text">
    <select id="fontChanger">
      <option value="Times New Roman">Times New Roman</option>
      <option value="Consolas">Consolas</option>
      <option value="Tahoma">Tahoma</option>
      <option value="Monospace">monospace</option>
      <option value="Cursive">Cursive</option>
      <option value="Sans-Serif">Sans-Serif</option>
      <option value="Calibri">Calibri</option>
    </select>
    <select id="fontSizeChanger">
      <script>
        for(var i =1; i < 10; i++){
          document.write("<option value='"+i+"'>"+i+"</option>")
        }
      </script>
    </select>
    <button id="linkButton" title="create link">link</button>
    <button id="unlinkButton" title="remove link">unlink</button>
    <button id="undoButton" title="undo the previous action">&larr;</button>
    <button id="redoButton" title="redo">&rarr;</button>

  </div>
  
  <div id="richTextArea">
    <iframe id="theWYSIWYG" name="theWYSIWYG" frameborder="0"></iframe>
  </div>
</div>

<script>
var fonts =document.querySelectorAll("select#fontChanger > option");
for(var i =0; i< fonts.length; i++){
fonts[i].style.fontFamily = fonts[i].value;

}
</script>

<!--my code finish here-->


<%- include ('partials/footer') %>