




<style>
    footer{
        background-color:rgb(0, 0, 0);
        color:rgba(87, 224, 183, 0.877);
    }
.socia a{
    color:rgba(87, 224, 183, 0.877);
}
.son a {
    color: rgba(87, 224, 183, 0.877);
}
</style>







<!-- bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb-->
<footer>
    <div class="section-5 text-center">
        <h6>Let Us Help You, please!</h6>
        <h6 class="m-2">Just Tell us what do you want!</h6>
        <hr>

        <div class="socia text-center"> Join Us on 
            <div class="d-flex flex-row justify-content-center">
               <a href="#"> <i class="fab fa-facebook-f m-2"></i></a>
               <a href="#"> <i class="fab fa-twitter m-2"></i> </a>
               <a href="#"> <i class="fab fa-instagram m-2"></i> </a>
               <a href="#"> <i class="fab fa-youtube m-2"></i> </a>
            </div>
        </div>

     
    
        <div class="container-fluid">
            
                <p>It's a result of <i class="fas fa-heart"></i> and <i class="fas fa-mug-hot"></i>in Istanbul, Turkey.</p>
            
            <small class="son"> &copy; <a href="/about">Terms</a>; <a href="about">Privacity</a></small>
        </div>
    </div>
        
</footer>


<!-- bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb-->

<!--bootstrap components-->
    <script src="script/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/95b30cf16d.js"></script>
    <!--font-->
    <script src="https://kit.fontawesome.com/95b30cf16d.js"></script>


    <!--SSL sertification-->
    <script type="text/javascript"> //<![CDATA[
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
      //]]></script>
      <script language="JavaScript" type="text/javascript">
        TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_lg_222x54.png", "POSDV", "none");
      </script>
</body>
</html>